DATABASE_URL="postgresql://postgres@localhost:5432/mydb"
GOOGLE_CLIENT_ID=1dat8amse8g871gegsgsgs.fgoogercontent.comsgs
GOOGLE_CLIENT_SECRET=GOCgX-SAIsH93XTNW5sBVKgA00sJgPzsg-
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback
FRONTEND_URL=http://localhost:3000

CLOUDINARY_API_KEY='2ff2314'
CLOUDNARY_NAME='ffsfsf'
CLOUDINARY_SECRET='8MfafaHrIafszzffafwffa8IJIvRnzFsfuvaYQfc'
ACCESS_TOKEN_SECRET="testfafafasfhonitest"
JWT_SECRET="jwthosatfafasfasfhyjwt"
ACCESS_TOKEN_EXPIRES_IN="7d"

#for migrating the experinces to production
DEFAULT_PROVIDER_ID ="75977c2fasfa2-b1fas87-f4749-asf-3fee0d77d18b"
DEFAULT_PROVIDER_EMAIL ="rajandhamala@nbc.edu.np"

